{
    "plugins": ["syntax-dynamic-import"],
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "target": ["web", "es5"]
            }
        ]
    ]
}
